

<div class="form-group" ng-class="{ 'has-error' : productsForm.description.$invalid && !productsForm.description.$pristine  }">
    <label>Descrição</label>
    <input type="text" name="description" class="form-control" ng-model="products.description" required>
    <p ng-show="productsForm.description.$invalid && !productsForm.description.$pristine" class="help-block" >Informe um descrição para o produto</p>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : productsForm.price.$invalid && !productsForm.price.$pristine  }">
    <label>Preço</label>
    <input name="price" class="form-control"  type="tel" required="required" maxlength="6"  minlength="1" min="0" ng-model="products.price" required>
    <p ng-show="productsForm.price.$invalid && !productsForm.price.$pristine" class="help-block" >Informe um preço para o produto</p>
  </div>
  <div class="form-group">
    <label >Categoria</label>
        <select class="form-control"  ng-model="products.category" 
                ng-options="item.id as item.description for item in category"> 
            <option value="">Selecione uma categoria</option>
        </select> 
</div>

    <button type="submit" class="btn btn-primary" ng-disabled="productsForm.$invalid" > Salvar</button> <a type="submit" href="#/web/products" class="btn btn-default" >Voltar</a>