<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
    <ul class="breadcrumb">
        <li>
            <a href="#/web/home">Home</a>
        </li>
        <li>
            <a href="#">Lista de produtos</a>
        </li>
    </ul>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
       
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive" >

            <input ng-model="filter" type="text" class="form-control " placeholder="Buscar um produto">
            <br>

            <table class="table table-striped table-bordered table-hover" >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Categoria</th>
                        <th ng-show="hide">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat=" products in products| filter:filter ">
                        <td>#</td>
                        <td>{{products.description}}</td>
                        <td>{{products.price | coin}}</td>
                        <td>{{products.category}}</td>
                        <td ng-show="hide"> 
                            <button class="btn btn-primary btn-mini" ng-click="updateProducts({id: products.id})"><i class="fa fa-edit" ></i></button> 
                            <button class="btn btn-danger btn-mini" ng-click="deleteProducts({products: products})"><i class="fa fa-trash" ></i></button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
        <div class="panel panel-footer">
            <a  class="btn btn-success " ng-click="createProducts()"> Cadastrar <i class="fa fa-plus"></i> </a>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
</div>