<div class="panel panel-primary">
    <div class="panel-heading">
        <i class="fa fa-2x fa-eye"> </i>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li  class="list-group-item" >{{ 'label.description'| translate}}                    <sp>{{item.soil.name}}</sp></li>
            
            <li  class="list-group-item" >{{ 'label.soil.infiltration-capacity'| translate}}   <sp>{{item.soil.infiltration_capacity}}</sp></li>
            <li  class="list-group-item" >{{ 'label.soil.drainage'| translate}}                <sp>{{item.soil.drainage}}</sp></li>
            <li  class="list-group-item" >{{ 'label.soil.depth'| translate}}                   <sp>{{item.soil.depth}}</sp></li>
            <li  class="list-group-item" >{{ 'label.soil.soil-type'| translate}}               <sp>{{item.soil.soil_type}}</sp></li>
            <li  class="list-group-item" >{{ 'label.soil.horizon1'| translate}}                <sp>{{item.soil.horizon_h1}}</sp></li>
            <li  class="list-group-item" >{{ 'label.soil.horizon2'| translate}}                <sp>{{item.soil.horizon_h2}}</sp></li>
            <li  class="list-group-item" >{{ 'label.soil.horizon3'| translate}}                <sp>{{item.soil.horizon_h3}}</sp></li>
        </ul> 
    </div>
</div>
