<div class="panel panel-primary">
    <div class="panel-heading">
        <i class="fa fa-2x fa-eye"> </i>
    </div>
    <div class="panel-body">

        <ul class="list-group">
            <li  class="list-group-item" >{{ 'label.name'| translate}}       <sp>{{item.field.name}}</sp></li>
            <li  class="list-group-item" >{{ 'label.field.producer'| translate}}   <sp>{{item.field.producer}}</sp></li>
            <li  class="list-group-item" >{{ 'label.latitude'| translate}}  <sp>{{item.field.latitude}}</sp></li>
            <li  class="list-group-item" >{{ 'label.longitude'| translate}}  <sp>{{item.field.longitude}}</sp></li>
            <li  class="list-group-item" >{{ 'label.altitude'| translate}}   <sp>{{item.field.altitude}}</sp></li>
            <li  class="list-group-item" >{{ 'label.field.size'| translate}}       <sp>{{item.field.area}}</sp></li>
            <li  class="list-group-item" >{{ 'label.soil.inclination'| translate}}       <sp>{{item.field.inclination}}</sp></li>
            <li  class="list-group-item" >{{ 'label.field.city'| translate}}       <sp>{{item.field.city}}</sp></li>
            <li  class="list-group-item" >{{ 'label.field.station'| translate}}    <sp>{{item.field.station.substr(0,17)}}</sp></li>
            <li  class="list-group-item" >{{ 'label.field.soil'| translate}}       <sp>{{item.field.soil}}</sp></li>

        </ul> 
    </div>


</div>
