<div class="panel panel-yellow">
    <div class="panel-heading">
        <i class="fa fa-2x fa-warning"> </i> Delete
    </div>
    <div class="panel-body">
        {{ 'alert-popup.delete'| translate}}
    </div>
    <div class="panel-footer">
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('Cancel')" translate="alert-popup.cancel"></button>
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('sim')">Ok</button>
        </div>
    </div>
</div>


