<div class="panel panel-primary">
    <div class="panel-heading">
        <i class="fa fa-2x fa-eye"> </i>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li  class="list-group-item" >{{ 'label.horizon.description'| translate}}       <sp>{{item.horizon.description}}</sp></li>
            <li  class="list-group-item" >{{ 'label.horizon.top-detph'| translate}}         <sp>{{item.horizon.top_depth}}</sp></li>
            <li  class="list-group-item" >{{ 'label.horizon.bottom-depth'| translate}}      <sp>{{item.horizon.bottom_depth}}</sp></li>
            <li  class="list-group-item" >{{ 'label.horizon.density'| translate}}           <sp>{{item.horizon.density}}</sp></li>
            <li  class="list-group-item" >{{ 'label.horizon.wilting-point'| translate}}     <sp>{{item.horizon.wilting_point}}</sp></li>
            <li  class="list-group-item" >{{ 'label.horizon.water-ph'| translate}}          <sp>{{item.horizon.water_ph}}</sp></li>
            <li  class="list-group-item" >{{ 'label.horizon.mo'| translate}}                <sp>{{item.horizon.mo}}</sp></li>
            <li  class="list-group-item" >{{ 'label.horizon.field-capacity'| translate}}    <sp>{{item.horizon.field_capacity}}</sp></li>
            <li  class="list-group-item" >{{ 'label.horizon.compression'| translate}}       <sp>{{item.horizon.compression}}</sp></li>
            <li  class="list-group-item" >{{ 'label.horizon.sand-percentage'| translate}}   <sp>{{item.horizon.sand_percentage}}</sp></li>
            <li  class="list-group-item" >{{ 'label.horizon.clay-percentage'| translate}}   <sp>{{item.horizon.clay_percentage}}</sp></li>
            <li  class="list-group-item" >{{ 'label.horizon.silt-percentage'| translate}}   <sp>{{item.horizon.silt_percentage}}</sp></li>

        </ul> 
    </div>
</div>
